特征工程
    首先，针对特征进行处理，保存起来

In [1]:
# 导入包
import pandas as pd
import numpy as np
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split,StratifiedKFold
from sklearn.metrics import auc,roc_auc_score
import xgboost as xgb

In [2]:
a_train = pd.read_csv('A_train.csv')
b_train = pd.read_csv('B_train.csv')
b_test = pd.read_csv('B_test.csv')

In [3]:
b_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Columns: 491 entries, no to UserInfo_270
dtypes: float64(488), int64(3)
memory usage: 15.0 MB

In [9]:
# 把特征个数少的列全部丢弃,使用和不适用效果影响不大，建议使用，省时间内存
def null_ratio(df):
    features=df.columns
    feature_selected=[]
    drop_index=[]
    sz=df.size
    for feat in features:
        sz_null=df[df[feat].isnull()].size
        ratio=float(sz_null)/sz
        if ratio > 0.9:
            feature_selected.append((feat,ratio))
            drop_index.append(feat) 
    return feature_selected,drop_index

In [4]:
# 检查离散变量和连续变量,  将离散的特征属性派生为多列只有0和1的属性

def dumyuserfeature(train):
    train_copy = train.copy()
    for i ,col in enumerate(train.columns): # enumerate将其组成一个索引序列，利用它可以同时获得索引和值
        cofe = len(train.groupby(col).count()) # 看看这一维度中有多少不相同的值
        if cofe < 20: #10,15都一样
            feikong = np.sum([train[col] != -999] )
            if feikong < len(train) * 0.1:
                continue
            # join：将两个DataFrame中的不同的列索引合并成为一个DataFrame
            # pd.get_dummies : 如果DataFrame的某一列中含有k个不同的值，则可以派生出一个k列矩阵或DataFrame（其值全为1和0）
            train_copy = train_copy.join(pd.get_dummies(train[col], prefix=col+'_'))
    return train_copy

In [5]:
b_train = b_train.fillna(-999)
b_test = b_test.fillna(-999)
flags = b_train['flag']

In [6]:
len(b_train)

4000

In [13]:
print(b_train.shape)
print(b_test.shape)
# 因为b_train中包含flag，所以多一列

(4000, 491)
(13463, 490)

In [14]:
b_train_t = dumyuserfeature(b_train)
b_test_t = dumyuserfeature(b_test)

In [15]:
print(b_train_t.shape)
print(b_test_t.shape)

(4000, 1601)
(13463, 1548)

In [41]:
b_train_t.head()

,no,UserInfo_1,UserInfo_2,UserInfo_3,UserInfo_4,ProductInfo_1,UserInfo_5,UserInfo_6,ProductInfo_2,UserInfo_7,...,UserInfo_265__11.0,UserInfo_265__12.0,ProductInfo_214__-999.0,ProductInfo_214__0.0,ProductInfo_214__1.0,UserInfo_266__-999.0,UserInfo_266__0.0,UserInfo_266__1.0,ProductInfo_215__-999.0,ProductInfo_215__0.0
0,8192,-999.0,5226.59,0.0,0.0,0.0,296.0,0.0,0.0,0.0,...,0,0,0,1,0,0,1,0,0,1
1,1,-999.0,0.00,0.0,0.0,0.0,-999.0,0.0,0.0,46000.0,...,0,0,0,1,0,0,1,0,0,1
2,8195,-999.0,-999.00,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,0,0,1,0,0,1,0,0,1,0
3,8196,-999.0,-999.00,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,0,0,1,0,0,1,0,0,1,0
4,16387,-999.0,-999.00,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,0,0,1,0,0,1,0,0,1,0

In [42]:
b_train.head()

,no,UserInfo_1,UserInfo_2,UserInfo_3,UserInfo_4,ProductInfo_1,UserInfo_5,UserInfo_6,ProductInfo_2,UserInfo_7,...,UserInfo_264,UserInfo_265,ProductInfo_214,UserInfo_266,UserInfo_267,ProductInfo_215,ProductInfo_216,UserInfo_268,UserInfo_269,UserInfo_270
0,8192,-999.0,5226.59,0.0,0.0,0.0,296.0,0.0,0.0,0.0,...,0.0,7.0,0.0,0.0,15.0,0.0,0.0,0.0,2940.0,-999.0
1,1,-999.0,0.00,0.0,0.0,0.0,-999.0,0.0,0.0,46000.0,...,0.0,3.0,0.0,0.0,-999.0,0.0,-999.0,0.0,0.0,-999.0
2,8195,-999.0,-999.00,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
3,8196,-999.0,-999.00,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0
4,16387,-999.0,-999.00,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0

In [52]:
b_train_t.to_csv('B_train_dummy.csv', index=False)
b_test_t.to_csv('B_test_dummy.csv', index = False)

In [ ]:
# dummy 虚假变量
# 经过处理，原来的数据特征就变为了虚假变量 dummy